body{
margin: 0;
padding: 0;
}
.first,.second{
    display: inline-block;
}
.first{
    background-image: url('school.avif');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* margin-bottom: 0; */
}

#heading{
    background: rgb(75, 163, 190);
    color: white;
    width:10vw;
    margin: auto;
    margin-top: 250px;
    padding: 20px;
}

#enjoy{
    background: blue;
    color: white;
    width:20vw;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
}



/* ------------------------------------------------------------------------------ */



.second{
    background: rgb(200, 255, 200);
    width: 100vw;
    height: 100vh;
    margin-top: 0;
}

.heading{
    margin-top: 50px;
    text-align: center;
}

img{
    margin-top: 50px;
    border-radius: 50%;
}
.images{
    display: flex;
    justify-content: space-around;
    
}

.details{
    display: flex;
    justify-content: space-around;
    color: blue;

}
.extra{
    display: flex;
    justify-content: space-around;
    color: blue;
}
.extra1{
    display: flex;
    justify-content: space-around;
    color: blue;
    margin-top: 0;
}



/* BUSINESS CARD */
 .body1{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.avatar{
    width:150px;
}

.card{
    padding:20px;
    display:flex;
    justify-content: space-around;
    width:400px;
    margin: 0 auto;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 5px solid #d8cefe;
}

.border-blue{
    border:1px dotted blue;
    text-align: center;
}
